input[type="text"], textarea {
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
    font-family: monospace;
    font-size: 13px;
    -webkit-overflow-scrolling: touch;
    resize: none;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    transition: border linear .2s, box-shadow linear .2s;
    line-height: 20px;
    color: #555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    font-weight: normal;
}